@font-face {
    font-family: 'motherBoard';
    src: url('../fonts/DB_HELVETHAICA.ttf') format('truetype');
    font-weight: normal;
}
*{
	padding:0;
	margin:0;
	font-family: 'motherBoard';
}
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
	background:#ddd;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.pageSeparate{
	display: none;
}
.btnNormaly{
	font-size: 40px;
}
.btnExtraLg{
	font-size: 60px;
    padding: .2em 1em;
}
.topContent{
	width: 100%;
	text-align: center;
}
/*-------------------- Home --------------------*/
.bgDarkTran{
	display:none;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    font-size: 3em;
}
#bgPopup i{
	color:#ffffff;
    margin-top: 45vh;
    left: 0;
    top: 0;
    z-index: 1001;
}
.alertBox{
    margin-top: 45vh;
}
#bgPopup label{
	color:#fff;
	margin-top: 10px;
	-webkit-animation-name: lizard; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: lizard;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#bgAlert i label{
	margin-top: 50%;
}
@-webkit-keyframes lizard{
    0%   {color:#ffffff}
    25%  {color:#808080}
    50%  {color:#000000}
    75%  {color:#808080}
    100% {color:#ffffff}
}
#container{
	width:100%;
	min-height: 1200px;
}
.backgroundBG{
	width: 100%;
	//height: 100vh;
	position:fixed;
	z-index: -1;
	opacity: 0.4;
}
.content{
	width: 100%;
	margin: auto;	
}
.landingPage .logoMain{
	width: 25%;
	margin: auto;
	margin-top: 10%;
}
.landingPage .textThai{
	width: 40%;
	margin-top: 3%;
}
.landingPage .textInfo{
	width: 90%;
    margin: 5% auto 0;
    font-size: 50px;
}
.landingPage .btnNext{
	width: 100%;
	margin:5% 0 5%;
}

/*-------------------- Goodness --------------------*/
.goodnessPage .topContent{
	float: left;
	height: 420px;
}
.topContent .logoMain{
	width: 15%;
	margin: auto;
	margin-top: 7%;
	margin-bottom: 2%;
}
.topContent .textThai{
	width: 37%;
}
.goodnessPage .promiseBox{
	text-align: center;
	position: relative;
}
.goodnessPage .promiseBox img.promiseBg{
	width: 800px;
}
.promiseBox .promisePanel{
	position: absolute;
    top: 0;
    width: 100%;
}
.promisePanel .promiseForm{
	width: 800px;
    margin: auto;
    height: 1013px;
    text-align: center;
}
.promiseForm input.promiseName{
	width: 385px;
    height: 43px;
    margin-top: 172px;
    padding: 7px;    margin-bottom: 10px;
    outline: none;
    border: none;
    font-size: 1.8em;
}
.promiseForm input.promiseEmail{
	width: 385px;
    height: 43px;
    margin-top: 95px;
    padding: 7px;
    outline: none;
    border: none;
    font-size: 1.8em;
}
.promiseForm textarea.promiseText{
	width: 415px;
    height: 225px;
    margin-top: 150px;
    padding: 7px;
    outline: none;
    border: none;
    font-size: 1.8em;
    resize: none;
    background-color: transparent;
}
.promiseForm .btnSendPromise{
	margin-top: 70px;
}
.btnOption button.backStep{
	width: 15%;
	border: none;
    background-color: transparent;
    outline: none;
}
.btnOption .backStep{
	margin: 0 2% 5%;
}
.backStep img{
	width: 100%;
}
.goodnessPage .btnOption{
	margin-top:3%;
}
.btnAlertSuccess{
	font-size:0.7em;
}

/*-------------------- Capture --------------------*/
#video{
    //border:0.5em solid rgba(49, 186, 255, 0.5);
    //width: 100%;
}
#canvas{
	//width: 100%;
}
.boxVideo,.boxImage{
	margin-top:5%;
	margin-bottom:2%;
	width: 100%;
	position: relative;
}
.boxImage,
.optionCamera,
.optionFrame{
	display: none;
}
#countSnap{
	position: absolute;
    top: 0;
    width: 100%;
    height: 810px;
    overflow: hidden;
}
#countSnap .snap{
	color: #fff;
    font-size: 40em;
    display: none;
}
.optionFrame .selectFrame{
	margin: 5% 0;
}
.selectFrame .frame{
	width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 2em;
}
.selectFrame .frame+.frame{
	margin-top: 2%;
}
.selectFrame .frame img{
	width: 100%;
}
.selectFrame .frame.selected{
	border: solid 5px #e8c742;
	padding: 15px !important;
}
.snapCap{
	width:100%;
	margin: 2.5% 0;
}
.snapCap .optionCamera{
	margin: auto;
	width: 90%;
	margin-bottom: 10px;
}
.snapCap .optionCamera .btn{
	font-size: 2.2em;
    border-radius: 3em;
    padding: 0.5em 1.8em;
}
.btn.btnCircleLg{
	padding: 0.3em 2.5em;
    border-radius: 10em;
}
.btnCancel{
	margin-right: 3%;
	float: right;
	//padding-top: 3%;
}
.capturePage .backStep{
	width: 15%;
    margin: 0 2% 5%;
}


/*-------------------- Postcard --------------------*/
.postcardPage .postcardBox{
	position: relative;
	margin: 5% auto 10%;
	width: 900px;
}
.postcardBox .postcardBG img{
	width: 100%;
	display: none;
}
.postcardBox .postcardPanel{
	width: 100%;
    position: absolute;
    top: 0;
    font-size: 25px;
}
.postcardPanel .postcardImg{
	position: absolute;
    top: 315px;
    left: 120px;
    width: 360px
}
.postcardPanel .postcardText{
	position: absolute;
    top: 318px;
    right: 127px;
    width: 245px;
    line-height: 26px;
    overflow: hidden;
    overflow-y: scroll;
    height: 263px;
    word-wrap: break-word;
}
.postcardPanel .postcardName{
	position: absolute;
    top: 657px;
    left: 275px;
    width: 330px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    height: 26px;
    word-wrap: break-word;
}
.postcardPage .shareBox{
	position: relative;
}
.shareBox .socialOption{
	display: none;
	position: absolute;
    top: -137px;
    left: 18%;
    width: 65%;
    font-size: 1.7em !important;
    background-color: #337ab7;
    line-height: 3.5em;
    padding: 6px 0;
}
.shareBox .socialOption:after
{
	content: "";
    position: absolute;
    top: 92px;
    left: 40%;
    border-width: 50px 25px 0;
    border-style: solid;
    border-color: #337ab7 transparent;
    display: block;
    width: 0;
}
.shareBox .socialOption .btn{
	min-width: 46%;
	font-size: 42px;
}
.shareBox .socialOption .btn+.btn{
	magin-left:10px;
}
.socialOption a{
	color: #fff;
	padding: 0 12%;
}

.alertBox .sharedSuccess{
	margin-bottom:40px;
	width:500px;
}

.allPromiseHeader{
	margin-bottom: 20px;
}
.allPromiseHeader .logoMain{
	width: 8%;
}
.allPromiseHeader .textThai{
	width: 10%;
	margin-top: 8px;
}
.boxShowAllPromise{
	margin-top: 10px;
}
.promiseSeperate{
	margin-top: 15px;
}
.promiseSeperate img{
	width: 100%;
}

